@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

$color-primary: rgb(77, 144, 175);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
}

html , body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;

}

.link{
    color: aliceblue;
    padding: .5rem;
}

#main-header {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
}

main {
    flex-grow: 1;
    padding: 1 rem;
}

footer{
    background-color: $color-primary;
    padding: 1 rem;
    text-align: center;
}

.nav__link {
    margin-left: 1rem;
    color: aliceblue;
}

.Link__home{
    color: aliceblue;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 2rem 1rem;
    padding: 3rem 0;
}

.card {
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7)
}

.card__img {
    width: 100%;
    height: 300px;
    object-fit:cover;
    margin: 1rem 0;
}

.card__price{
    font-size:medium;
    padding-top: .3rem;
}
.card__button {
    width: 100%;
    border:none;
    padding: 0.5rem 0;
    border-radius: 3px;
    background-color: $color-primary;
    cursor: pointer;
}

.detail-flex, .counter-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-actions button{
    background-color: $color-primary;
    border:none;
    padding: 0.3rem 1rem;
    margin: 0.5rem ;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
.counter-actions{
    justify-content: center;
}

.detail-flex img{
    width: 300px;
    height: 300px;
    object-fit:cover;
}

.detail-flex > div {
    padding: 1rem;
}

.detail-flex > div > div {
    margin: 1rem 0
};

.detail-flex > div > div >button {
    display: block;
    margin: auto;
    background-color: $color-primary;
    border:none;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

